<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(125, 164, 202);">
  <div class="container-fluid">
    <span class="navbar-brand">Sistema De Universitario </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/docentes">Docentes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/horarios" >Horarios </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/materias" >Materias </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aulas" >Aulas </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>